In [ ]:
#solution 1
# for loop is used iterating over a sequence(i.e a list, a tuple, a dictionary, a set, or a string)
l = [1 , 3, 4,6,7,8]
for i in l:
    print(i)
    
#With the while loop we can execute a set of statements as long as a condition is True.
i = 0
while i < 6:
    print(i)
    i = i + 1

In [ ]:
#solution 2
l = [1,2,3,4,5,6,7,8,9,10]
result = 0
for i in l:
    result = result + i
print(result)

In [ ]:
#solution 2
l = [1,2,3,4,5,6,7,8,9,10]
result = 1
for i in l:
    result = result*i
print(result)

In [ ]:
#solution 2
i = 0
result = 0
while i <= 10:
    result = result + i
    i = i + 1
print(result)

In [13]:
#solution 2
i = 1
result = 1
while i <= 10:
    result = result * i
    i = i + 1
print(result)

3628800

In [1]:
#solution 3
units = int(input("Enter your units of electricity "))
if units <= 100:
    print("charged Rs. 4.5 per unit")
elif units > 100 and units <= 200:
    print("charged Rs. 6 per unit")
elif units > 200 and units <= 300:
    print("charged Rs. 10 per unit")
else:
    print("charged Rs. 20 per unit")
    
total = int(input("total unit consumed "))
if total <= 100:
    print(total * 4.5)
elif total <= 200:
    print(100*4.5 + (total-100) * 6)
elif total <= 300:
    print(100*4.5 + 100*6 + (total -200)*10)
else:
    print(100*4.5 + 100*6 + 100*10 + (total -300)*20)

Enter your units of electricity  232

charged Rs. 10 per unit

total unit consumed  2234

40730.0

In [1]:
l = list(range(1, 101))
l2 = []
for i in l:
    c = i**3
    if c % 4 ==0 or c % 5 ==0:
        print(c)
        l2.append(c)
l2

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [2]:
l2 = []
i = 0
while i <= 100:
    i = i + 1
    c = i**3
    if c % 4 ==0 or c % 5 ==0:
        print(c)
        l2.append(c)
l2

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [10]:
#solution 5
string = "I want to become a data scientist"
count = 0
vowels = ["a", "e", "i", "o", "u"]
for i in range(len(string)):
    if string[i].lower() in vowels:
        count = count + 1
print(count)

12